
.nav {
  background-color: '#263238',
}
.img {
  width: 100%;
  height: auto;
}
.card {
  width: 250px;
  margin: 20px;
}

.card-details {
  position: relative;
  left: 90px;
  top: 10px;
  display: inline-block;
}
.panel {
  /* background-image: url('./assets/amazon.png'); */
  position: relative;
  top: -72px;
  background-color: none;
  background-size: auto;
}
.item {
  width: 100%;
  height: auto;
  border-radius: 15px;
}
.switch {
  text-align: center;
  margin: 90px;
}
.item-title {
  text-align: center;
  font-weight: bold;
}
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.dev-info1 {
  position: absolute;
  top: 13%;
  left: 1%;
  background-color: #fff8e1;
  width: 30%;
  padding: 10px;
  border-radius: 20px;
  text-align: justify;


}
.dev-info2 {
  position: absolute;
  top: 50%;
  left: 67.7%;
  background-color: #dcedc8;
  width: 30%;
  padding: 10px;
  border-radius: 20px;
  text-align: justify;


}
.dev-info3 {
  position: absolute;
  top: 90%;
  left: 1%;
  background-color: #ffe0b2;
  width: 30%;
  padding: 10px;
  border-radius: 20px;
  text-align: justify;


}
.home-heading {
  text-align: center;
  background-color: #ffe0b2;
  width: 100%;
  padding: 10px;
  position: relative;
  top: -17px;
  height: 100px;
  font-family: monospace;
  color: #263238;
}
.search-box {
  position: relative;
  display: flex;
  align-items: center;
  left: 450px;
  top: -75px;
  background: none;

}
.main {
  background-image: url('./assets/bg.jpg');
  background-size: cover;
  position: relative;
  top: 76px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.single-card{
  background-color:#e3f2fd;
  width: 650px;
  position: relative;
  height: 640px;
  top: 15px;
  left: 400px;
  border: 1px solid #00695c;
  border-radius: 20px;
}
 .single-card li {
  list-style-type: square;
  text-align: justify;
}
.single-card img{
  width: 300px;
  height: 300px;
  position: relative;
  left: 170px;
  border-radius: 15px 50px;
}
.single-card h1{
  text-align: center;
}
.single-card button{
  margin: 30px;
  border-radius: 10px;
  padding: 20px;
  background-color: #4fc3f7;
  border: none;
}
.card-body {
  position: relative;
  height: 674px;
  background-image: url('./assets/amazon.png');
  background-size: cover;

}